#add-container{
	font-family: "Roboto",sans-serif;
	padding: 10px 25px;
	border: 2px solid blue;
	max-height: 85vh;
}

#timer-container{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-height: 70vh;

}

#timer-container h1{
	letter-spacing: 0.1em;
	
}
#timer-footer{
	display: flex;
	flex-direction: row;
	flex: 1;
}

#timer-footer li{
	flex: 1;
	text-align: center;
	color: rgb(150,150,150);
}

#name-container{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;

}

#name-container{
	line-height: 2em;
	font-size: 0.8em;
	letter-spacing: 0.06em;
}
#name-container h1{
	color: rgb(50,140,255);
}
#name-container h1:hover{
	color: rgb(160,160,200);
	cursor: text;
}

#timer-container form{
	display: flex;
	flex-grow: 1;
	max-height: 40vh;
	padding: 10px 0 0 0;
	position: relative;
}
#timer-container form div{
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}
#timer-container div{
	display: flex;
	flex-grow: 1;
}
#timer-container form > div{
	border: 1px solid white;
	background-color: rgb(30,30,30);
	position: relative;
}

#timer-container form > div > div{
	width: 100%;
}

#timer-container form > div > div > p{
	display: flex;
	flex-grow: 1;
	width: 100%;
	justify-content: center;
	z-index: 1;
	color: white;
}

#timer-container .middle-bar{
	position: absolute;
	bottom: 50%;
	height: 20px;
	width: 100%;
	background-color: rgba(0,130,200);
	
}

#timer-container form div .arrowDown{
	display: flex;
	flex-grow: 0;
	background-color: rgba(30,30,30,0);
	height: 80px;
	width: 100%;
	color: rgba(255,255,255,0);
}

#timer-container form div .arrowUp{
	display: flex;
	flex-grow: 0;
	top: 0;
	background-color: rgba(30,30,30,0);
	height: 80px;
	width: 100%;
	z-index: 1;
	color: rgba(255,255,255,0);
}