#add-container{
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-direction: column;
}

#notifications-container{
	display: flex;
	flex-grow: 1;
	flex-shrink: 0;
	
}

#timer-container{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	
}

#name-container{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;
}

#timer-container form{
	display: flex;
	flex-grow: 1;
	height: 40vh;
	padding: 10px;
	position: relative;
	
}
#timer-container form div{
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}
#timer-container div{
	display: flex;
	flex-grow: 1;
}
#timer-container form > div{
	border: 1px solid white;
	background-color: rgb(30,30,30);
	position: relative;
}

#timer-container form > div > div{
	width: 100%;
}

#timer-container form > div > div > p{
	display: flex;
	flex-grow: 1;
	width: 100%;
	justify-content: center;
	z-index: 1;
	color: white;
}

#timer-container .middle-bar{
	position: absolute;
	bottom: 50%;
	height: 20px;
	width: 100%;
	background-color: rgba(0,130,200);
	
}

#timer-container form div .arrowDown{
	display: flex;
	flex-grow: 0;
	background-color: rgba(30,30,30,0);
	height: 80px;
	width: 100%;
	color: rgba(255,255,255,0);
}

#timer-container form div .arrowUp{
	display: flex;
	flex-grow: 0;
	top: 0;
	background-color: rgba(30,30,30,0);
	height: 80px;
	width: 100%;
	z-index: 1;
	color: rgba(255,255,255,0);
}