main .clocks{
	display: flex;
	padding: 0 3vw;
	flex-wrap: wrap;
	overflow: auto;
	height: 79.5%;
}

div.clock {
	display: flex;
	flex-direction: column;
	flex: 0 0 250px;
	height: 140px;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.clock p {
	text-align: center;
	font-family: "Roboto";
	font-weight: bolder;
	color: white;
	background-color: inherit;
	font-size: 2.4em;
}

.clock ul{
	display: flex;
	flex: 1 1 0;
	width: 100%;
	align-items: center;
}

.clock ul li{
	display: flex;
	flex-direction: column;
	flex: 1 1 0;
	align-items: center;
}

.clock ul svg{
	font-size: 1.6em;
}

.clock ul svg:hover{
	background-color: rgba(50,50,50,5);
}

.clock:hover{
	background-color: rgb(30,30,30);
}
