.clocks li{
	flex: 1;
}

.clocks button{
	width: 100%;
}

main .clocks{
	display: flex;
	flex: 1 0 50px;
	padding: 0 5vw;
	flex-wrap: wrap;
	overflow: auto;
}

.clock {
	display: flex;
	flex: 0 0 220px;
	height: 140px;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.clock:hover{
	background-color: rgb(30,30,30);
}

.clock p {
	text-align: center;
}

.clock ul{
	display: flex;
}

.clock ul i:hover{
	background-color: rgba(50,50,50,5);
}

