header{
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	flex-grow: 1;
	background-color: rgb(30,30,30);
}

header div#window-menu{
	display: flex;
}

header div#alarm-menu{
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-basis: 60px;
	flex-shrink: 0;
}


header div#window-menu > div{
	display: flex;
	flex-grow: 1;
	padding: 8px;
}

header div#window-menu ul{
	display: flex;
	flex-grow: 0; /* default */
}
header div#window-menu p{
	font-size: 0.8em;

}

header div#window-menu ul li button{
	padding: 10px 15px;
}

header div#alarm-menu ul{
	display: flex;
	flex-grow: 1;
}

header div#alarm-menu ul li{
	display: flex;
	flex-grow: 1;
}

header div#alarm-menu ul a{
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: center;
	align-items: center;
}

header div#alarm-menu #alarm-menu-placeholder{
	display: flex;
	flex-grow: 10;
}
