footer {
	height: 40px;
	position: "absolute";
	background-color: rgb(30,30,30);
	bottom: 0;
	width: 100vw;
}
footer ul {
	display: flex;
	flex: 1;
	flex-direction: row;
	height: 100%;
}

footer li{
	display: flex;
	flex:0;
}

footer li a{
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
}

footer .button {
	padding: 0 2em;
	height: 100%;
}

footer #plus p{
	cursor: inherit;
	color: white;
	font-size: 20px;
}

footer svg{
	font-size: 16px;
}